# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\APP\SOEN6441\RealEstateManagementSystem\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
